.form-group
{
  margin-top: 4%;
}

.modal-header
{
  background-color: #18AF9A;
  color: white;
}
.modal button
{
  color: white;
}

.ng-valid:not(form)
{
  border-left: 5px solid green;
}

.ng-invalid:not(form)
{
  border-left: 5px solid rgb(149, 8, 8);
}

