<div class="row container-fluid">
 <div class="col-2" [hidden]="toggle">
    <app-admin-sidebar></app-admin-sidebar>
  </div>
  <div class="bg-light" [ngClass]="toggle ? 'col-12' : 'col-10'"  >
    <div class="row">
      <div class="col-12">
        <app-admin-header (status)="sidbar($event)"></app-admin-header>
      </div>
      <div class="col-12 position-relative">
        <div class="title">
          <h2 class="text-white">{{namePage}}</h2>
        </div>

        <div class="card content-page ">
          <router-outlet ></router-outlet>
       </div>

      </div>
    </div>
  </div>
</div>

