<div class="sidebar " style="position: fixed; width: 16.7%;" >
  <h3>Admin Panel</h3>
  <hr>
  <div class="linkes">
    <ul class="mt-4 row">
      <li class="col-12 mt-4"><a href="" routerLink="/Admin/Dashboard" routerLinkActive="active">
        <i class="fa-solid fa-chart-line"></i>

          <span class="d-none d-md-inline" >Dashboard</span>

        </a></li>

      <li class="col-12 mt-4"><a href="" routerLink="/Admin/Categories" routerLinkActive="active">
        <i class="fa-solid fa-book-open-reader"></i>
        <span class="d-none d-md-inline"> Categories</span>
       </a></li>
      <li class="col-12 mt-4"><a href="" routerLink="/Admin/Books" routerLinkActive="active">
        <i class="fa-sharp fa-solid fa-book"></i>
       <span class="d-none d-md-inline">Books</span> </a></li>
      <li class="col-12 mt-4">
        <a href="" routerLink="/Admin/Authors" routerLinkActive="active">
        <i class="fa-solid fa-users"></i>
        <span class="d-none d-md-inline">Authors</span>
        </a>
      </li>
    </ul>
  </div>
</div>
