*{
  margin: 0;
  padding: 0;
}

.sidebar
{
  background-color:#2c3344;
  height: 100vh;
}

.sidebar h3
{
  padding:10%;
  color:#94a3b8;

}

.active
{
  background-color:#94a3b8 !important;
  color: white !important;
}


/*.linkes ul li
{
  padding: 7% 10%;
}*/

.linkes ul li:hover
{
  background-color: #94a3b8;
}
.linkes ul li:hover a
{
  color: white;
}
.linkes ul li a
{

  width: 100%;
  padding: 4%;
  display: block;
  color: #94a3b8;
  font-size: 1.1rem;
  text-decoration-line: none;
  -moz-text-decoration-line: none;
}

.linkes ul li a i
{
  margin-right: 5%;
  font-size: 1.9rem;
}

hr
{
  color:white;
}
