<!-- <div class="container">
  <div class="row">
  <div class=" p-5 d-flex">
    <div class="buttons" (click)="getBooks()">
      <a>All </a>
    </div>
    <div class="buttons" (click)="getBooksByStatus('Read')">
      <a>Read </a>
    </div>
    <div class="buttons" (click)="getBooksByStatus('Reading')">
      <a>Reading </a>
    </div>
    <div class="buttons" (click)="getBooksByStatus('wantToRead')">
      <a>Favourite </a>
    </div>
  </div>


      <div
        class="col-3"
        *ngFor="let book of books"
        style="margin-bottom: 10%;height: 20rem;"
      >
        <app-book-card [book]="book"></app-book-card>
      </div>
    
   
      <app-pagination
        [pagination]="_pagination"
        [next]="next"
        [prev]="prev"
        [page]="page"
        (currPage)="currentPage($event)"
      >
      </app-pagination>
    </div>
  </div>
 -->

 <div>
  <div class="container p-5 d-flex">
    <div class="buttons col-12 col-md-12 col-lg-12 mt-12" (click)="getBooks()" >
      <a  >All </a>
    </div>
    <div class="buttons col-12 col-md-12 col-lg-12 mt-12" (click)="getBooksByStatus('Read')">
      <a>Read </a>
    </div>
    <div class="buttons col-12 col-md-12 col-lg-12 mt-12" (click)="getBooksByStatus('Reading')">
      <a>Reading </a>
    </div>
    <div class="buttons col-12 col-md-12 col-lg-12 mt-12" (click)="getBooksByStatus('wantToRead')">
      <a>Favourite </a>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-4 mt-5" *ngFor="let book of books">
        <app-book-card [book]="book"></app-book-card>

      </div>



<div class="container mt-5 text-center d-flex justify-content-center">
  <app-pagination
    [pagination]="_pagination"
    [next]="next"
    [prev]="prev"
    [page]="page"
    (currPage)="currentPage($event)"
  >
  </app-pagination>
</div>

    </div>
  </div>
</div>

